body{
    background-color: #074A86;
    padding: 0;
    margin: 0;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #02213E;
  padding: 10px 20px;
  color: white;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  height: 50px;
}
/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 0;
}
.logo img {
  width: 83px;
  height: 50px;
  transition: transform 0.5s ease;
  cursor: pointer;
}
logo img:hover{
  transform: scale(1.1);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.logo h1 {
  font-size: 40px;
  font-family:'Micro 5';
}
.acciones {
  display: flex;
  align-items: center; /* Centra verticalmente los íconos */
  justify-content: flex-end; /* Los empuja hacia la derecha */
  gap: 10px; /* Espacio entre íconos */
  height: 100%; /* Asegura que ocupe toda la altura del header */
  padding-right: 10px; /* Espacio desde el borde derecho */
}

/* Botones de íconos */
.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* Imágenes dentro de los botones */
.acciones img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* Contenedor general del buscador */
.buscador-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

/* Caja del buscador */
.buscador {
  position: relative;
  width: 220px;
  max-width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #F9F6F6;
  border-radius: 20px;
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Input */
.buscador input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
  background: transparent;
  color: #93989A;
  font-family: 'Lohit Devanagari', sans-serif;
  font-size: 14px;
  padding-right: 0px;
}

/* Botón lupa */
.boton-lupa {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-lupa img {
  width: 24px;
  height: 24px;
}
/* Botones */
.icon-btn {
  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
/* Menús desplegables */
.menu-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
/* menu del user con ID, es la mimsa clase que el user*/
#menu-perfil{
  width: 260px;
  height: 378px;
}
#menu-redes{
  top: 40px;
}
 
/* SOLO afecta al menú de redes */
#menu-redes ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid #033354;
  background-color: #02213E;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  transition: background-color 0.3s;
}
#menu-redes ul li:hover, #menu-redes ul li a.active {
  background: #FA62A5;
  border-radius: 5px;
  color: #ffffff;
}
#menu-redes ul li a {
  text-decoration: none;  /* quita la línea al link */
  color: #ffffff;
  flex-grow: 1;           /* ocupa espacio para separar del ícono */
}

#menu-redes ul li img {
  width: 16px;            /* achica los íconos */
  height: 16px;
  margin-left: 10px;      /* separación del texto */
}

/*menu hamburguesa, tiene la misma clase que el del user */
.menu {
  position: absolute;
  right: 0;
  background: #02213E;
  border-radius: 4px;
  padding: 0;
  width: 150px;
  height: auto;
  display: none;
  color: white;
  font-family: 'League Spartan', sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
  flex-direction: column;
  overflow: hidden;
  top: 36px;
  gap: 5px;
}
.menu .avatar{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 15px auto 10px auto;
}
.menu h3{
  text-align: center;
  margin: 5px 0;
  color: #ffffff;
}
.menu p{
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #bbb;
}
.menu.active{
  display: block;
  opacity: 1;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #033354;
  color: #ffffff;
  background-color: #02213E;
  transition: background-color 0.3s;
}
.menu ul li:hover, .menu ul li a.active {
  background: #FA62A5;
  border-radius: 5px;
  color: #ffffff;
}
.sidebar{
    background-color: #02213E;
    width: 40px;
    height: 660px;
    position: fixed;
    top: 50px;
    left: 0px;
    transition: width 0.3s ease;
    overflow: visible;
    padding: 0;
    margin: 0;
    z-index: 9999;
}
.sidebar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.sidebar ul li{
  width: 100%;
  color: #ffffff;
  transition: background-color 0.3s;
}
.sidebar ul li a{
  display: flex;
  align-items: center;
  gap: 30px;
  text-decoration: none;
  font-size: 14px;
  padding: 6px;
  white-space: nowrap;
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
}
.sidebar ul li a span{
  opacity: 0;
  transition: opacity 0.3s ease;
}
.sidebar:hover{
  width: 170px;
  background-color: #0A2E4D;
  overflow: visible;
}
.sidebar img {
  width: 18px;       /* ancho fijo */
  height: auto;      /* mantiene la proporción */
  margin: 10px 0;    /* separación vertical entre íconos */
  display: block;     /* fuerza que cada ícono esté en su propia línea */
  flex-shrink: 0;  
  border: #02213E;
}
/* Aseguramos que los links también tengan espacio */
.sidebar a {
  display: flex;
  align-items: center;
  gap: 8px;          /* espacio entre icono y texto */
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.sidebar span{
  opacity: 0;
  transition: opacity 03s ease;
  flex: 1;
}
.sidebar:hover span{
  opacity: 1;
}
.sidebar ul li:hover, .sidebar ul li a.active {
  position: relative; /* Necesario para que z-index funcione */
  z-index: 1000;         /* Más alto que el resto */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); /* Opcional: agranda un poco */
  background: #FA62A5;
  border-radius: 5px;
  color: #ffffff;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
    gap: 10px;
  }

  .logo h1 {
    font-size: 32px;
  }

  .logo img {
    width: 70px;
    height: auto;
  }

  .buscador-wrapper {
    width: 100%;
    padding: 0;
  }

  .buscador {
    width: 90%;
    margin: 0 auto;
  }

  .acciones {
    justify-content: center;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: 100px;
    position: relative;
  }
  .logo{
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
    text-align: left;
  }
  .logo img{
    width: 100px;
    height: 67px;
  }
  .logo h1 {
    display: flex;
    font-size: 46px;
    top: 20px;
    position: relative;
  }

  .buscador {
    display: none;
  }
  .acciones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 0 10px;
    gap: 4px;
  }
  .icon-btn{
    width: 24px;
    height: 24px;
    position: relative;
    top: 0;
    right: 60px;
  }
  .acciones img {
    width: 20px;
    height: 20px;
  }
  .menu, #menu-redes{
    position: absolute;
    right: 0px;
    top: 38px;
  }
  .icon-btn {
    font-size: 18px;
    margin-left: 5px;
  }
  .sidebar{
    top: 100px;
    height: 100%;
  }
  .sidebar ul li a{
    padding: 14px;
    padding-left: 7px;
  }
}
