/*footer*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.footer {
    background-color: #02213E;
    color: #ffffff;
    padding: 60px 40px;
}

.footer-container {
    max-width: 1366px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.footer-column h3 .footer-titles {
    font-size: 20px;
    font-weight: 600;/* el 600 simula el semibold*/
    margin-bottom: 5px;
    color: #FA328A;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


.margin-top {
    margin-top: 32px;
}


.subscribe-link {
    display: inline-flex;       /* alinea texto + imagen en línea */
    align-items: center;        /* centra verticalmente */
    gap: 6px;                   /* espacio entre texto e imagen */
    color: #ffffff;             /* color del enlace */
    font-size: 16px;            /* tamaño de fuente */
    border-bottom: 0.5px solid #ffffff; /* simulo el underline */
    padding-bottom: 0px;        /* espacio entre texto y línea */
    margin-bottom: 20px;
    text-decoration: none;      /* quitamos el underline real */
}

.subscribe-link img {
    width: 12px;  
    height: 12px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 16px;
    align-items: center; 
}

.social-icons a {
    color: #ffffff;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.social-icons img {
    width: 20px;   
    height: 20px;
    display: block; 
}

.logos {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 0px;
}

.logo-text {
    font-size: 47px;
    font-weight: bold;
    font-family: 'Micro 5', sans-serif;
}

.logo-icon img{
    width: 86px;   
    height: 57px;
    display: block; 
 
}

/* Responsive */
@media (max-width: 1024px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    
    .footer {
        padding: 40px 20px;
    }
}
