/* ======== RESET Y BASE ======== */
body {
    margin: 0;
    padding: 0;
    background-color: #02294f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ======== HEADER SUPERIOR ======== */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* ======== CONTENIDO PRINCIPAL ======== */
.main-content-home{
    margin-top: 70px; /* deja espacio para el header */
    margin-left: 90px; /* deja espacio para la sidebar */
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}



/* ======== SCROLL ======== */
html {
    scroll-behavior: smooth;
}
